body {
    margin: 0;
    padding: 0;
    background: black;
    position: relative;
}

.star {
    width: 3px;
    height: 3px;
    background: white;
    position: absolute;
    border-radius: 50%;
    animation: twinkle 2s infinite ease-in-out;
}

@keyframes twinkle {
    0%, 100% { opacity: 0.2; }
    50% { opacity: 1; }
}

@keyframes moveStars {
    from { transform: translateY(0); }
    to { transform: translateY(-100vh); }
}

.stars-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.stars-container .star:nth-child(odd) {
    animation-duration: 1.5s;
}

.stars-container .star:nth-child(even) {
    animation-duration: 2.5s;
}

.certificates {
    display: grid;
    max-width: 1200px;
    grid-template-columns: 1fr;
    gap: 40px;
    margin: 0 auto;
    padding: 40px 100px;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}


@media screen and (min-width: 768px) {
    .certificates {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .certificates {
        grid-template-columns: repeat(3, 1fr);
        gap: 60px;
    }
}